*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --chelblue: #034694 ;
    --chelfade: #033670;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}
#header{
    height: 100px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav li a{
   font-size: 18px;
   font-family: sans-serif;
   font-weight: 600;
}
#nav .logo-header{
    width: 100px;
    float: left;
    padding: 5px;
    
    margin-right: 10px;
    
}

#nav .logo-header .img-logo-header{
    width: 100%;
}
#nav >li > a{
    color: var(--chelblue);
    text-decoration: none;
    display: inline-block;
    line-height: 100px;
    padding: 0 20px;
}

#nav > li:hover > a{
    /* border-bottom: 3px solid var(--chelblue); */
    color: #fff;
    background-color: var(--chelblue);
}
#nav > li > a{
    text-transform: uppercase;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: var(--chelblue);
    min-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}


#nav .subnav a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

#nav .subnav a:hover{
    
}
#nav .subnav li:hover{
   background-color: var(--chelfade);
}

#nav .subnav li{
    width: 100%;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .btn-search{
    float: right;
    color: var(--chelblue);
    line-height: 100px;
    padding: 0 40px;
}

#header .btn-search:hover{
    cursor: pointer;
    color: #fff;
    background-color: var(--chelblue);
}

#slider{
    padding-top: 50%;
    position: relative;
    background: url('https://img.chelseafc.com//image/upload/f_auto,c_fill,g_faces,w_1440,h_856,q_90/editorial/match-reports/2022-23/Real%20Madrid%20home%20UCL/lampard-real-madrid-h.jpg') top center / cover no-repeat;
    /* margin-top: 70px; */
}

#slider .text-content{
    position: absolute;
    bottom: 0;
    left: 8%;
    right: 16%;
}

#slider .text-header{
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 36px;
}
#slider .text-description{
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 16px;
}

#content{
    
}

#content #about-content{
    background-color: #034694;
    padding: 36px 0;
}

#about-content .text-header {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;

    padding-bottom: 12px;
    font-size: 40px;
    color: #fff;
}

#about-content .sub-text-header {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 20px;
    color: #fff;
}

#about-content .text-description{
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    text-align: justify;
    line-height: 20px;
}

#team .team-item{
    /* display: inline-block; */
    float: left;
    
}

#team {
    padding: 36px;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg,#001489 50%,#0009db);
}

.team-item .name{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.team-item{
    padding: 0 24px;
    
}
.team-item .img-men,
.team-item .img-women{
    width: 300px;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
#match-content{
    color: #fff;
    background-image: url('/asset/content/matchday/background_matchday.webp');
    background-size: cover;
    height: 500px;
}

#match-content .text-header{
    text-align: center;
    font-size: 40px;
    padding-top: 36px;
    padding-bottom: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

#match-content .sub-text-header{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 36px;
}

.match-list .match-list-1,
.match-list .match-list-2,
.match-list .match-list-3{
    margin: auto;
    height: 195px;
    position: relative;
    background-color: #fff;
    color: #034694;
    display: inline-block;
    
}

.match-list #match-tournament{
    color: #7F7F7F;
    font-weight: 650;
    font-size: 9px;
    line-height: 16px;
    text-align: center;
    padding-bottom: 10px;
}

.match-list {
    display: flex;
    justify-content: center;
    height: 195px;
}





.match-list #match-calendar{
    color: #404040;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    line-height: 20px;
}

.match-list > p {
    color: #7F7F7F;
    font-size: 9px;

}



.match-display{
    list-style-type: none;
    display: flex;
    height: 68px;
    justify-content: center;
}

.button-match-centre #btn-match-centre{
    color: #fff;
    background-color: #034694;
    position: absolute;
    padding-right: 24px;
    width: 292px;
    height: 48px;
    cursor: pointer;
    font-weight: 600;
    float: left;
    top: 13px;
}

.button-match-centre{
    position: relative;
}


#btn-match-centre i{
    position: absolute;
    right: 100px;
    margin-top: 2px;
    font-weight: 700;
}

.match-display .match-up {
    padding: 8px 12px;
    width: 88px;
    height: 36px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 4%;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.match-display .match-up > p{
   display: flex;
   justify-content: center;
   align-self: center;
   align-items: center;
   
   font-size: 18px;
   font-weight: 700;
   letter-spacing: 2px;
}



.match-display .img-club{
    display: block;
    width: 48px;
    margin: 0 auto;
}

.match-display .name-club{
    font-size: 11px;
    margin-top: 8px;
    font-weight: 600;
}

.match-display .club{
    padding: 0 12px;
    height: 68px;
    width: 90px;
    justify-content: center;
    text-align: center;
}

.match-display{
    padding: 0 12px;
}

#sponsor-block  .sponsor-primary{
   text-align: center;
   padding: 36px 0px;
}

.sponsor-primary .list-sponsor-prim li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
.list-sponsor-second{
    padding: 36px 300px;
    background-color: #F1F3F6;
}
.list-sponsor-prim img {
    width: 132px;
}

.list-sponsor-second img{
    width: 132px;
    margin: 0 24px;
    padding: 16px 0;
}

.list-sponsor-second li{
    display: inline-block;
    text-align: center;
   
}
#sponsor-block{
}

#footer{
    position: relative;
    background-color: #001489;
    
}

#footer #img-stadium{
    object-fit: cover;
    width: 100%;
}

#footer .footer-container
{ 
    color: #fff;
    padding: 50px 0px 0px;
    margin-left: 82px;
    margin-right: 82px;
}


.footer-container li{
    list-style-type: none;
}

.footer-container .footer-content{
    display: flex;
    flex-wrap: wrap;
}

#footer .logo .logo-footer{
    width: 100px;
    height: 100px;
}

#footer .adress-footer{
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
}

.adress-footer > header{
    font-weight: 700;
}

.footer-container .footer-content{
    padding: 0px 0px 53px;
    justify-content: center;
    margin-left: auto;
}

.footer-content .contact-footer{
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    color: #fff;

}
.contact-footer >  a{
    color: #fff;
    display: block;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.footer-content .app-prom img{
    width: 120px;
}

.legal-panel{
    color: #fff;
    background-color: #140a47;
}

.footer-link{
    
    
}
.footer-link .footer-link-nav{
    margin-left: 82px;
    margin-right: 82px;
    gap: 32px;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.28;
    padding: 12px 0px;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}

.legal-panel .footer-list-item{
    list-style-type: none;
}

.legal-panel .footer-link-list{
    display: flex;
    gap: 24px;
}

.legal-panel .footer-legal-copyright{
    padding: 24px 0px;
    margin-left: 82px;
    margin-right: 82px;
    font-size: 14px;
}


.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    right: 0;
    background:rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal .modal-container-login{
    background: var(--chelblue);
    
    display: block;
    text-align: center;
}

.modal-container-login{
    min-height: 500px;
    width: 680px;
    padding: 12px 84px;
    margin-top: 80px;
    position: relative;
    animation: modalIn ease 0.3s;
}
.modal-header .login-header{
    color: #fff;
    font-size: 30px;
    padding: 29px;
}

.modal-header #img-logo-login{
    width: 92px;
    text-align: center;
}

.modal .modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 24px;
    background: #03f;
}


.modal-login-body{
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.modal-login-body input{
    color: #FBB700;
}

.modal-login-body .input-username,
.modal-login-body .input-password
{
    font: inherit;
    width: 100%;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    border: 0;
    outline: none;
    background: none;
    box-sizing: content-box;
    border-bottom: 3px solid #FBB700;
}

.modal-container-login #forget-pass > a{
    color: #b88f4f;
    text-decoration: none;
    font-weight: 700;
}

.modal-container-login #forget-pass{
    padding: 8px;
}

::placeholder{
    color: #FBB700;
}

.modal-login-body .input-require{
    color: #FBB700;
    font-size: 12px;
    text-align: left;
    margin: 3px 0px 0px;
}

.modal-login-body #btn-login{
    background-color: #03f;
    border-color: #03f;
    font-size: .875rem;
    font-weight: 700;
    height: 48px;
    color: #fff;
    cursor: pointer;
}

.modal-footer{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.modal-footer > span{
    color: #fff;
}

.modal-footer #signup-area{
    color: #fff;
}

.modal-footer #signup-area > a{
    color: #b88f4f;
    text-decoration: none;
}
.modal-footer button{
    background-color: #03f;
    border-color: #03f;
    font-size: .875rem;
    font-weight: 700;
    height: 48px;
    color: #fff;
    cursor: pointer;
}

.modal-footer .login-facebook{
    background: #304a83;
    border-color: #304a83;
}

.modal-footer .login-google{
    background: #ed1c24;
    border-color: #ed1c24;
}
.modal-footer .login-apple{
    background: #000;
    border-color: #000;
}

.search-box{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    right: 0;
    background:rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #001489;
    animation: search 0.5s ease-out;

}

.search-box.open{
    display: block;
}

.search-box .banner{
    margin-top: 50px;
    object-fit: cover;
    width: 100%;
}

.search-box .search-form{
    display: flex;
    text-align: center;
    margin-top: 10%;
    justify-content: center;
}

.search-form .search-submit{
    float: right;
}

.search-form .search-submit::before{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    margin-left: -28px;
    color: #0009db;
    font-weight: 700;
    cursor: pointer;
}

.search-box .search-close{
    float: right;
    color: #fff;
    padding: 42px;
    background: #0009db;
}

.search-box .search-close:hover{
    color: #b88f4f;
}

.search-form .search-field{
    width: 60%;
    display: flex;
    position: relative;
}
.search-field .search-field-input{
    padding: 15px;
    width: 100%;
    border-radius: 10px ;
    border: 2px solid hsla(0,0%,100%,.2);
    background-color: transparent;
    font-size: 20px;
    outline: none;
}

.search-field .search-field-input::placeholder{
    color: #fff;
}

.search-field .search-field-input:focus{
    color: #fff;
}

@keyframes search{

    0% {
        transform: scale(0.1);
        opacity: 0;
        top: 10%;
        left: 10%;
      }
      
      100% {
        transform: scale(1);
        opacity: 1;
        top: 0;
        left: 0;
      }
}

@keyframes modalIn {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}